:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
  --young-serif-font-family: "Young Serif", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  color: var(--Stone-600);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--Rose-50);
}

h1 {
  position: absolute;
  opacity: 0;
  top: -10rem;
}

h2,
h3 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.9rem;
  color: var(--Brown-800);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  margin: 3.2rem;
}
section:not(:last-child) {
  border-bottom: 0.1rem solid var(--Stone-150);
}
section ul,
section ol {
  padding-bottom: 2rem;
  vertical-align: middle;
}
section ul li,
section ol li {
  margin: 1rem;
  margin-left: 2.1rem;
  padding-left: 1rem;
  line-height: 1.7;
}
section ol {
  color: var(--Brown-800);
  font-weight: 700;
}
section ol li span {
  font-weight: 400;
  color: var(--Stone-600);
}
section ul {
  color: var(--Brown-800);
}
section ul li span {
  color: var(--Stone-600);
}

table {
  width: 100%;
  margin: 1.4rem 0;
  border-spacing: 0;
}
table tr td {
  width: 50%;
  padding: 1.4rem;
}
table tr td:first-of-type {
  padding-left: 2.5rem;
}
table tr td:last-of-type {
  color: var(--Brown-800);
}
table tr:not(:last-child) td {
  border-bottom: 0.1rem solid var(--Stone-150);
}

.recipe {
  width: 100%;
  max-width: 76.8rem;
  background-color: var(--White);
}
.recipe__header__image {
  width: 100%;
}
.recipe__header__image img {
  width: 100%;
  height: 100%;
}
.recipe__header__details {
  margin: 3.5rem 3.1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.recipe__header__details__title {
  font-size: 3.6rem;
  line-height: 1;
  color: var(--Stone-900);
}
.recipe__header__details__description {
  line-height: 1.7;
}
.recipe__header__details__preview {
  background-color: var(--Rose-50);
  border-radius: 1rem;
  padding: 2rem;
  padding-bottom: 1rem;
}
.recipe__header__details__preview__title {
  font-size: 2rem;
  color: var(--Rose-800);
}
.recipe__header__details__preview ul {
  color: var(--Rose-800);
  vertical-align: middle;
}
.recipe__header__details__preview ul li {
  margin: 1rem;
  margin-left: 2.1rem;
  padding-left: 1rem;
  line-height: 1.7;
}
.recipe__header__details__preview ul li span {
  color: var(--Stone-600);
}
@media (min-width: 769px) {
  .recipe {
    border-radius: 2rem;
    margin-top: 5rem;
  }
  .recipe__header__image {
    padding: 4rem;
  }
  .recipe__header__image img {
    border-radius: 1rem;
  }
  .recipe__header__details__title {
    font-size: 4rem;
  }
}

.footer {
  margin: 10rem 0 0;
  background-color: var(--Rose-50);
  padding: 2rem 0;
}
.footer__attribution {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer__attribution__info {
  font-size: 12px;
  text-align: center;
}
.footer__attribution__info a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=index.css.map */
